<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contract.name %>
</p>

<p>
  <strong>Contractor:</strong>
  <%= @contract.contractor %>
</p>

<p>
  <strong>Contractee:</strong>
  <%= @contract.contractee %>
</p>

<p>
  <strong>Value:</strong>
  <%= @contract.value %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
